<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>JSON Reader</title>

    <!-- Bootstrap core CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Custom styles for this template -->
    <link href="./css/style.css" rel="stylesheet">
  </head>

  <body>
    <div id="app">
      <div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <form class="needs-validation" novalidate>
              <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Add traduction key</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="Inputlabel">Label</label>
                    <input type="texte" class="form-control" id="Inputlabel" aria-describedby="labelHelp" required>
                    <small id="labelHelp" class="form-text text-muted">You can use "/" to add colonne</small>
                    <div class="invalid-feedback" id="labelInvalid">
                      The label is missing 
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="InputContent">Content</label>
                    <input type="texte" class="form-control" id="InputContent" required>
                    <div class="invalid-feedback" id="contentInvalid">
                      The content is missing
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary"  v-on:click="validForm">Save changes</button>
                </div>
              </form>
            </div>
          </div>
      </div>
      <div class="container-fluid">
        <div class="row">
            <col-item v-for='col in cols' v-bind:col='col' v-bind:key="col.id"></col-item>
        </div>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-langue dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{currentLanguage.name}}
        </button>
        <div class="dropdown-menu">
          <translate-file v-for='file in fileData' v-bind:translatefile='file' v-bind:key="file.id"></translate-file>
        </div>
      </div>
    </div>
    
    

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="./script/jquery-slim.min.js"><\/script>')</script>
    <script src="./script/popper.min.js"></script>
    <script src="./script/bootstrap.min.js"></script>
    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <!-- script -->
    <script src="./script/script.js"></script>
  </body>
</html>